
* {
  box-sizing: border-box;
}


}

body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;

  font-size: 1rem;
  line-height: 1.5;
  color: #fffff0;
  overflow-x: hidden;
}

* {margin:0;padding:0;}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
  padding-left: 0;
}

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}


img {
  max-width: 100%;
  height: auto;
}


#navbar {
  display: flex;
  justify-content: center;
  background-color:
  align-items: center;
  color: white;
  padding: 25px;
  z-index: 30;

}

.navbar_logo {
  position: relative;
top: 50%;
left: 30%;
padding: 100px;

transform: translate(-50%);
}

.navbar_menu {
  display: flex;
  justify-content: center;

}

.navbar_menu {
position: relative;
right: 150px;

}
.navbar_menu_item {
  padding: 100px 12px ;
  margin: 100px 20px  ;
  cursor: pointer;
      border-radius: white;
}

.navbar_menu_item {
position: relative;
bottom: -600px;
left: 30px;
}
.navbar_menu_item.active {
  border: 1px solid white;


}



#navbar {
  position: relative;

}












#home {
  text-align: center;
}




.vid-header {
height: 100vh;
display: flex;

color: #ffffff;
}

.container {
  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: left;
}

.slidewrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slidewrap video {
  min-width: 100%;
  min-height: 100%;
}



.header-content {
  z-index: 3;

}

.header-content h1 {
  font-size: 30px;
  margin-bottom: 0;
  position : relative;
  top: 350px;
  left: -400px;
}



.header-content p {
  font-size: 1rem;
  position : relative;
  top: 350px;
  left: -400px;
  padding-bottom: 2rem;
}






.fullscreen-vid-wrap {
  float: left;
}









.navbar {
  flex-direction: column;
align-items: flex-start;
}


.header-overlay {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #000000;

  opacity: 0.25;
}

.line {position : relative;
left: 50px;
 top: 10040px; }

 .shot {
   position : relative;

    top: 850px;
    font-size: 10px;
    color: #000000;

 }

 .shot {   font-family: 'G마켓 산스';
  text-align: center;
    font-size: 15px;
    color: #444444;
 }

 .shot1 {
   position : relative;
    top: 5000px;
    font-size: 20px;
    color: #000000;

 }
 .shot1 {   font-family: 'Noto Sans KR';
  text-align: center;
 }

 .old {
   position : absolute;
  top: 2555px;
 left: 0px;}

 .droneinf {
   position : absolute;
  top: 3140px;
}

.shot3 {
font-size: 20px;
color: #000000;
}
.shot3 {
  position : relative;
 top: 4770px;
left: 850px;}
 .drone {
  position : relative;
  top: 4840px;
left: 450px;}

.droneinf {
  position : relative;
 top: 4880px;
left: 430px;}

.man {
  position : absolute;
 top: 1755px;
left: -10px;}
.mon1 {
  position : absolute;
 top: 1870px;
left: -10px;}
.mont {
  position : absolute;
 top: 1870px;
left: -10px;}


 .pic {position : absolute;
  top: 6540px;
left: 900px;}

  .pic2 {position : absolute;
   top: 7050px;
 left: 900px; }

   .pic3 {position : absolute;
    top: 7050px;
  left: 00px; }

    .pic4 {position : absolute;
     top: 6540px;
       left: 0px;
}

.nam {
  position : relative;
   top: 5510px;
   left: 70px;
   font-size: 15px;
   color: #ffffff;

}
.nam2 {
  position : relative;
   top: 5480px;
   left: 970px;
   font-size: 15px;
   color: #ffffff;

}

.nam3 {
  position : relative;
   top: 5940px;
   left: 970px;
   font-size: 15px;
   color: #ffffff;

}

.nam4 {
  position : relative;
   top: 5910px;
   left: 70px;
   font-size: 15px;
   color: #ffffff;

}
.textbox1 {position:absolute;z-index:2;top:50%;left:25%;transform:translate(-50%,-50%);line-height:1.6;text-align:center;}

.text1{
  color: #444444;
     font-size: 15px;
}

.text1{
  position : absolute;
   top: 1800px;
   left: 1150px;
   font-size: 20px;
   color: #444444;
     text-align: center;
}

.text1 h3 {

   font-size: 30px;
   color: #444444;
}
.text2{
  position : absolute;
   top: 2800px;
   left: 50px;
   font-size: 20px;
   color: #ffffff;
     text-align: center;
}

.text2 h3 {

   font-size: 30px;
   color: #ffffff;
}

.textbox p{
   font-size: 20px;
   color: #ffffff;

}

.shot5 {
  font-size: 40px;
  color: #444444;
}
.shot5 {
  position : absolute;
   top: 7800px;
   left: 850px;

     text-align: center;
}
.island2 {
  position : absolute;
   top: 8000px;
   left: 50px;
}

.grn {
  position : absolute;
   top: 6500px;
   left: -10px;
}
.white1 {
  position : absolute;
   top: 8000px;
   left: 120px;
}

.islandinf {
  position : absolute;
   top: 8130px;
   left: 1020px;
}
.islandinf {
color: #444444;
}

.islandname {
  position : absolute;
   top: 8050px;
   left: 1020px;
}
.islandname {
color: #333333;
font-size: 30px;
}
.island3 {
  position : absolute;
   top: 8600px;
   left: -20px;
}
.island4 {
  position : absolute;
   top: 8600px;
   left: 570px;
}
.island5 {
  position : absolute;
   top: 8600px;
   left: 1150px;
}
.back {
  position: relative;
  top: -1200px;

}
h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 8px 0;
}

/* 모바일용 */
@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }



  #navbar {
    flex-direction: column;
    align-items: flex-start;

  }

  #navbar.navbar--dark {
    padding: 16px;
  }
  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }
  .navbar_menu {
position: relative;
right: 10px;
bottom: 300px;
  text-align: center;
    width: 100%;
  }

  .navbar_logo {
    position: relative;
  top: 50%;
  left: 50%;
  padding: 100px;

  transform: translate(-45%);
  }



.video1 {position: relative; width: 300%; padding-bottom: 56.25%; right: 500px;}

.video1 iframe {position: absolute; width: 100%; height: 100%;}

.textbox {position: relative; width: 100%;}
}

}
